# Mount drive

In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Zip code

## Import data

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('./drive/My Drive/Colab Notebooks/01_dataset/zip-code/KEN_ALL.CSV', encoding='shift-jis', header=None, dtype=str)

In [ ]:
df.head(5)

      0      1        2        3             4   ... 10 11 12 13 14
0  01101  060    0600000  ﾎﾂｶｲﾄﾞｳ  ｻﾂﾎﾟﾛｼﾁﾕｳｵｳｸ  ...  0  0  0  0  0
1  01101  064    0640941  ﾎﾂｶｲﾄﾞｳ  ｻﾂﾎﾟﾛｼﾁﾕｳｵｳｸ  ...  0  1  0  0  0
2  01101  060    0600041  ﾎﾂｶｲﾄﾞｳ  ｻﾂﾎﾟﾛｼﾁﾕｳｵｳｸ  ...  0  1  0  0  0
3  01101  060    0600042  ﾎﾂｶｲﾄﾞｳ  ｻﾂﾎﾟﾛｼﾁﾕｳｵｳｸ  ...  0  1  0  0  0
4  01101  064    0640820  ﾎﾂｶｲﾄﾞｳ  ｻﾂﾎﾟﾛｼﾁﾕｳｵｳｸ  ...  0  1  0  0  0

[5 rows x 15 columns]

In [ ]:
df.shape

(124539, 15)

## Data shaping

In [ ]:
delete_columns = [0, 1, 3, 4, 5, 9, 10, 11, 12, 13, 14]

In [ ]:
df.drop(df.columns[delete_columns], axis=1, inplace=True)

In [ ]:
df.head(5)

         2    6       7             8
0  0600000  北海道  札幌市中央区    以下に掲載がない場合
1  0640941  北海道  札幌市中央区           旭ケ丘
2  0600041  北海道  札幌市中央区           大通東
3  0600042  北海道  札幌市中央区   大通西（１〜１９丁目）
4  0640820  北海道  札幌市中央区  大通西（２０〜２８丁目）

In [ ]:
df.columns = ['ZIP', 'Pref', 'City', 'Town']

In [ ]:
df.head(5)

       ZIP Pref    City          Town
0  0600000  北海道  札幌市中央区    以下に掲載がない場合
1  0640941  北海道  札幌市中央区           旭ケ丘
2  0600041  北海道  札幌市中央区           大通東
3  0600042  北海道  札幌市中央区   大通西（１〜１９丁目）
4  0640820  北海道  札幌市中央区  大通西（２０〜２８丁目）

In [ ]:
df.tail(5)

            ZIP Pref      City        Town
124534  9071433  沖縄県   八重山郡竹富町        南風見仲
124535  9071751  沖縄県   八重山郡竹富町         波照間
124536  9071544  沖縄県   八重山郡竹富町          鳩間
124537  9071800  沖縄県  八重山郡与那国町  以下に掲載がない場合
124538  9071801  沖縄県  八重山郡与那国町         与那国

In [ ]:
# df['ZIP'] = df['ZIP'].astype(str)

In [ ]:
# df['ZIP'].dtype

In [ ]:
# df['ZIP'] = df['ZIP'].str.zfill(7)

# Pref ID

## Import data

In [ ]:
pref_id = pd.read_csv('./drive/My Drive/Colab Notebooks/01_dataset/zip-code/pref_id.csv', encoding='shift-jis')

In [ ]:
pref_id.head(5)

   pref_id pref_name pref_name_en
0      645       北海道     Hokkaido
1      646       青森県       Aomori
2      647       岩手県        Iwate
3      648       宮城県       Miyagi
4      649       秋田県        Akita

In [ ]:
pref_id.shape

(47, 3)

## Data shaping

In [ ]:
pref_id = pref_id.rename(columns={'pref_name': 'Pref'})

In [ ]:
pref_id.head(5)

   pref_id Pref pref_name_en
0      645  北海道     Hokkaido
1      646  青森県       Aomori
2      647  岩手県        Iwate
3      648  宮城県       Miyagi
4      649  秋田県        Akita

# Merge zip code and pref ID

In [ ]:
df = df.merge(pref_id, on='Pref')

In [ ]:
df.shape

(124539, 6)

In [ ]:
df.head(5)

       ZIP Pref    City          Town  pref_id pref_name_en
0  0600000  北海道  札幌市中央区    以下に掲載がない場合      645     Hokkaido
1  0640941  北海道  札幌市中央区           旭ケ丘      645     Hokkaido
2  0600041  北海道  札幌市中央区           大通東      645     Hokkaido
3  0600042  北海道  札幌市中央区   大通西（１〜１９丁目）      645     Hokkaido
4  0640820  北海道  札幌市中央区  大通西（２０〜２８丁目）      645     Hokkaido

In [ ]:
df = df[['ZIP', 'pref_id', 'Pref', 'pref_name_en', 'City', 'Town']]

In [ ]:
df.head(5)

       ZIP  pref_id Pref pref_name_en    City          Town
0  0600000      645  北海道     Hokkaido  札幌市中央区    以下に掲載がない場合
1  0640941      645  北海道     Hokkaido  札幌市中央区           旭ケ丘
2  0600041      645  北海道     Hokkaido  札幌市中央区           大通東
3  0600042      645  北海道     Hokkaido  札幌市中央区   大通西（１〜１９丁目）
4  0640820      645  北海道     Hokkaido  札幌市中央区  大通西（２０〜２８丁目）

# Remove unwanted data

## (1) remove "以下に記載がない場合"

In [ ]:
df['Town'].str.contains('以下に掲載がない場合').value_counts()

False    122665
True       1874
Name: Town, dtype: int64

In [ ]:
df['Town'] = df['Town'].str.replace('以下に掲載がない場合', '')

In [ ]:
df['Town'].str.contains('以下に掲載がない場合').value_counts()

False    124539
Name: Town, dtype: int64

## (2) remove カッコの入っている住所　（例：大通西（１～１９丁目）

In [ ]:
df['Town'].str.contains('（').value_counts()

False    118106
True       6433
Name: Town, dtype: int64

In [ ]:
df['Town'] = df['Town'].str.split('（').str[0]

In [ ]:
df['Town'].str.contains('（').value_counts()

False    124539
Name: Town, dtype: int64

In [ ]:
df.head(5)

       ZIP  pref_id Pref pref_name_en    City Town
0  0600000      645  北海道     Hokkaido  札幌市中央区
1  0640941      645  北海道     Hokkaido  札幌市中央区  旭ケ丘
2  0600041      645  北海道     Hokkaido  札幌市中央区  大通東
3  0600042      645  北海道     Hokkaido  札幌市中央区  大通西
4  0640820      645  北海道     Hokkaido  札幌市中央区  大通西

In [ ]:
df.tail(5)

            ZIP  pref_id Pref pref_name_en      City  Town
124534  9071433      691  沖縄県      Okinawa   八重山郡竹富町  南風見仲
124535  9071751      691  沖縄県      Okinawa   八重山郡竹富町   波照間
124536  9071544      691  沖縄県      Okinawa   八重山郡竹富町    鳩間
124537  9071800      691  沖縄県      Okinawa  八重山郡与那国町
124538  9071801      691  沖縄県      Okinawa  八重山郡与那国町   与那国

## (3) 同じ郵便番号に複数の住所が存在するもの

### Check duplicated rows with ZIP

In [ ]:
dupZIP = df.duplicated(subset='ZIP', keep=False)

In [ ]:
dupZIP

0         False
1         False
2         False
3         False
4         False
          ...
124534    False
124535    False
124536    False
124537    False
124538    False
Length: 124539, dtype: bool

In [ ]:
dupZIP.sum()

5683

In [ ]:
df[dupZIP].nunique()

ZIP             1543
pref_id           47
Pref              47
pref_name_en      47
City             448
Town            4813
dtype: int64

In [ ]:
dfDupZip = df[dupZIP].sort_values(by=['ZIP'])

In [ ]:
dfDupZip

           ZIP  pref_id Pref pref_name_en    City    Town
661    0040000      645  北海道     Hokkaido  札幌市厚別区
772    0040000      645  北海道     Hokkaido  札幌市清田区
16394  0110951      649  秋田県        Akita     秋田市  土崎港古川町
16391  0110951      649  秋田県        Akita     秋田市  土崎港相染町
17340  0120823      649  秋田県        Akita     湯沢市    湯ノ上山
...        ...      ...  ...          ...     ...     ...
19174  9996831      650  山形県     Yamagata     酒田市    総光寺沢
19130  9996835      650  山形県     Yamagata     酒田市     蔵小路
19248  9996835      650  山形県     Yamagata     酒田市      本町
19166  9996837      650  山形県     Yamagata     酒田市      新町
19095  9996837      650  山形県     Yamagata     酒田市      金谷

[5683 rows x 6 columns]

### Delete town from rows with duplicated ZIP

In [ ]:
dupZIP

0         False
1         False
2         False
3         False
4         False
          ...
124534    False
124535    False
124536    False
124537    False
124538    False
Length: 124539, dtype: bool

In [ ]:
df.loc[dupZIP, ['Town']] = ''

In [ ]:
df.loc[dupZIP]

            ZIP  pref_id  Pref pref_name_en     City Town
661     0040000      645   北海道     Hokkaido   札幌市厚別区
772     0040000      645   北海道     Hokkaido   札幌市清田区
1969    0680546      645   北海道     Hokkaido      夕張市
1973    0680546      645   北海道     Hokkaido      夕張市
2287    0770013      645   北海道     Hokkaido      留萌市
...         ...      ...   ...          ...      ...  ...
123351  8900000      690  鹿児島県    Kagoshima  鹿児島郡三島村
123836  9070000      691   沖縄県      Okinawa      石垣市
123980  9042162      691   沖縄県      Okinawa      沖縄市
123981  9042162      691   沖縄県      Okinawa      沖縄市
124523  9070000      691   沖縄県      Okinawa  八重山郡竹富町

[5683 rows x 6 columns]

In [ ]:
df

            ZIP  pref_id Pref pref_name_en      City  Town
0       0600000      645  北海道     Hokkaido    札幌市中央区
1       0640941      645  北海道     Hokkaido    札幌市中央区   旭ケ丘
2       0600041      645  北海道     Hokkaido    札幌市中央区   大通東
3       0600042      645  北海道     Hokkaido    札幌市中央区   大通西
4       0640820      645  北海道     Hokkaido    札幌市中央区   大通西
...         ...      ...  ...          ...       ...   ...
124534  9071433      691  沖縄県      Okinawa   八重山郡竹富町  南風見仲
124535  9071751      691  沖縄県      Okinawa   八重山郡竹富町   波照間
124536  9071544      691  沖縄県      Okinawa   八重山郡竹富町    鳩間
124537  9071800      691  沖縄県      Okinawa  八重山郡与那国町
124538  9071801      691  沖縄県      Okinawa  八重山郡与那国町   与那国

[124539 rows x 6 columns]

### Remove rows with duplicated ZIP and city

In [ ]:
df.loc[dupZIP].shape[0]

5683

In [ ]:
# same city but it includes rows with same city and different zip
df.loc[dupZIP].duplicated(subset=['City'], keep=False).sum()

5530

In [ ]:
# same city and same zip
df.loc[dupZIP].duplicated(subset=['ZIP', 'City'], keep=False).sum()

5385

In [ ]:
df.loc[dupZIP].duplicated(subset=['ZIP', 'City', 'Town'], keep=False).sum()

5385

In [ ]:
# drop rows with duplicated zip and city (this removes rows with dup zip / city and different town)
DroppedDupZipCity = df.drop_duplicates(subset=['ZIP', 'City'], keep='first')

In [ ]:
DroppedDupZipCity

            ZIP  pref_id Pref pref_name_en      City  Town
0       0600000      645  北海道     Hokkaido    札幌市中央区
1       0640941      645  北海道     Hokkaido    札幌市中央区   旭ケ丘
2       0600041      645  北海道     Hokkaido    札幌市中央区   大通東
3       0600042      645  北海道     Hokkaido    札幌市中央区   大通西
4       0640820      645  北海道     Hokkaido    札幌市中央区   大通西
...         ...      ...  ...          ...       ...   ...
124534  9071433      691  沖縄県      Okinawa   八重山郡竹富町  南風見仲
124535  9071751      691  沖縄県      Okinawa   八重山郡竹富町   波照間
124536  9071544      691  沖縄県      Okinawa   八重山郡竹富町    鳩間
124537  9071800      691  沖縄県      Okinawa  八重山郡与那国町
124538  9071801      691  沖縄県      Okinawa  八重山郡与那国町   与那国

[120561 rows x 6 columns]

In [ ]:
DroppedDupZipCity.loc[DroppedDupZipCity['ZIP'] == '4520961']

           ZIP  pref_id Pref pref_name_en City Town
72824  4520961      667  愛知県        Aichi  清須市

In [ ]:
DroppedDupZipCity.loc[DroppedDupZipCity['ZIP'] == '0040000']

         ZIP  pref_id Pref pref_name_en    City Town
661  0040000      645  北海道     Hokkaido  札幌市厚別区
772  0040000      645  北海道     Hokkaido  札幌市清田区

### Remove rows with duplicated ZIP and different city except for first one

#### Check the number of rows for the ZIPs

In [ ]:
dupZipButDiffCity = DroppedDupZipCity[DroppedDupZipCity.duplicated(subset=['ZIP'], keep=False)]

In [ ]:
dupZipButDiffCity = dupZipButDiffCity.sort_values(by=['ZIP'])

In [ ]:
dupZipButDiffCity

           ZIP  pref_id Pref pref_name_en      City Town
661    0040000      645  北海道     Hokkaido    札幌市厚別区
772    0040000      645  北海道     Hokkaido    札幌市清田区
9067   0350000      646  青森県       Aomori       むつ市
10451  0350000      646  青森県       Aomori    下北郡東通村
10473  0390100      646  青森県       Aomori    三戸郡三戸町
...        ...      ...  ...          ...       ...  ...
13462  9850000      648  宮城県       Miyagi       塩竈市
15687  9850000      648  宮城県       Miyagi   宮城郡七ヶ浜町
14035  9850000      648  宮城県       Miyagi      多賀城市
19717  9994554      650  山形県     Yamagata      尾花沢市
19942  9994554      650  山形県     Yamagata  北村山郡大石田町

[298 rows x 6 columns]

In [ ]:
dupZipButDiffCity.to_csv('./drive/My Drive/Colab Notebooks/01_dataset/zip-code/duplicated-zipcodes-with-different-unique-city.csv')

#### Remove the rows except for the first ones

In [ ]:
DroppedDupZipCity

            ZIP  pref_id Pref pref_name_en      City  Town
0       0600000      645  北海道     Hokkaido    札幌市中央区
1       0640941      645  北海道     Hokkaido    札幌市中央区   旭ケ丘
2       0600041      645  北海道     Hokkaido    札幌市中央区   大通東
3       0600042      645  北海道     Hokkaido    札幌市中央区   大通西
4       0640820      645  北海道     Hokkaido    札幌市中央区   大通西
...         ...      ...  ...          ...       ...   ...
124534  9071433      691  沖縄県      Okinawa   八重山郡竹富町  南風見仲
124535  9071751      691  沖縄県      Okinawa   八重山郡竹富町   波照間
124536  9071544      691  沖縄県      Okinawa   八重山郡竹富町    鳩間
124537  9071800      691  沖縄県      Okinawa  八重山郡与那国町
124538  9071801      691  沖縄県      Okinawa  八重山郡与那国町   与那国

[120561 rows x 6 columns]

In [ ]:
dfComplete = DroppedDupZipCity.drop_duplicates(subset=['ZIP'], keep='first')

In [ ]:
dfComplete

            ZIP  pref_id Pref pref_name_en      City  Town
0       0600000      645  北海道     Hokkaido    札幌市中央区
1       0640941      645  北海道     Hokkaido    札幌市中央区   旭ケ丘
2       0600041      645  北海道     Hokkaido    札幌市中央区   大通東
3       0600042      645  北海道     Hokkaido    札幌市中央区   大通西
4       0640820      645  北海道     Hokkaido    札幌市中央区   大通西
...         ...      ...  ...          ...       ...   ...
124534  9071433      691  沖縄県      Okinawa   八重山郡竹富町  南風見仲
124535  9071751      691  沖縄県      Okinawa   八重山郡竹富町   波照間
124536  9071544      691  沖縄県      Okinawa   八重山郡竹富町    鳩間
124537  9071800      691  沖縄県      Okinawa  八重山郡与那国町
124538  9071801      691  沖縄県      Okinawa  八重山郡与那国町   与那国

[120399 rows x 6 columns]

In [ ]:
# dropped rows with the dup zip but unique city
120561-120399

162

In [ ]:
dfComplete.loc[dfComplete['ZIP'] == '0040000']

         ZIP  pref_id Pref pref_name_en    City Town
661  0040000      645  北海道     Hokkaido  札幌市厚別区

In [ ]:
dfComplete[dfComplete.duplicated(subset=['ZIP'], keep=False)]

Empty DataFrame
Columns: [ZIP, pref_id, Pref, pref_name_en, City, Town]
Index: []

In [ ]:
dfComplete[dfComplete.duplicated(subset=['ZIP'], keep=False)].sum()

ZIP             0.0
pref_id         0.0
Pref            0.0
pref_name_en    0.0
City            0.0
Town            0.0
dtype: float64

# Append some columns to format the data

In [ ]:
dfComplete['is_island'] = 0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
dfComplete.loc[:,'shipping_charge'] = 600

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [ ]:
dfComplete.loc[:, 'shipping_lead_time'] = 2

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [ ]:
dfComplete.loc[:, ['type']] = 'k'

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:659: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[k] = np.nan
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [ ]:
dfComplete

            ZIP  pref_id Pref  ... shipping_charge shipping_lead_time type
0       0600000      645  北海道  ...             600                  2    k
1       0640941      645  北海道  ...             600                  2    k
2       0600041      645  北海道  ...             600                  2    k
3       0600042      645  北海道  ...             600                  2    k
4       0640820      645  北海道  ...             600                  2    k
...         ...      ...  ...  ...             ...                ...  ...
124534  9071433      691  沖縄県  ...             600                  2    k
124535  9071751      691  沖縄県  ...             600                  2    k
124536  9071544      691  沖縄県  ...             600                  2    k
124537  9071800      691  沖縄県  ...             600                  2    k
124538  9071801      691  沖縄県  ...             600                  2    k

[120399 rows x 10 columns]

# Export the data to a text file

In [ ]:
dfComplete.dtypes

ZIP                   object
pref_id                int64
Pref                  object
pref_name_en          object
City                  object
Town                  object
is_island              int64
shipping_charge        int64
shipping_lead_time     int64
type                  object
dtype: object

In [ ]:
dfComplete.to_csv('./drive/My Drive/Colab Notebooks/01_dataset/zip-code/zipLatest_update.txt', index=False, encoding='utf-8', quoting=2)